@model IEnumerable<PostingDataToController.Helpers.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script>
        $(function () {            
            $("#post-data").click(function () {
                var users = [];
                @foreach(var item in Model)
                {
                    <text>
                         users.push({ "Id" : "@item.Id", "Name": "@item.Name", "Email": "@item.Email", "PhoneNumber": "@item.PhoneNumber", "Country": "@item.Country" })
                    </text>
                }
                console.log(users);
                $.ajax({
                    type: "POST",
                    url: "/Email/Index",
                    data: JSON.stringify(users),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                });
            });
        });
    </script>
</head>
<body>    
    <table class="table" style="width:50%;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
        </tr>
    }
    
    </table>

    <div>
        @*@Html.ActionLink("Post Data", "Index", "Email", new { usersData = Model }, null);*@
        <div id="post-data" class="btn btn-primary">Post Data</div>
    </div>
</body>
</html>

@*<style>
    table, th, td {
       border: 1px solid blue;
    }

    tr:hover {background-color: #f5f5f5}
</style>*@
